.el-row {
  margin-top: -6px;
  margin-bottom: -6px;

  &:not(:last-child) {
    padding-bottom: 12px;
  }
}

.el-col {
  padding-top: 6px;
  padding-bottom: 6px;
}

h1 {
  margin: 0;
  padding: 12px 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}