@use "element-plus/theme-chalk/el-dialog.css"; // to block scroll when opening el-drawer
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

@import "variables";
@import "typography";
@import "common";

:root {
  font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#app {
  overflow-x: hidden;
  min-width: $min-width;
}

a {
  text-decoration: none;
}
