@import '../variables';

$inputs: 'input, input[type=text], input[type=number], input[type=password]';
$input-messages: '.description-message, .success-message, .error-message';

.input-group {
  #{$inputs}, #{$input-messages}, label  {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  #{$input-messages}, label {
    font-size: 10px;
    line-height: 18px;
  }

  #{$input-messages} {
    margin-top: 4px;
  }

  label {
    position: relative;
    display: block;
    text-transform: uppercase;
    color: $grey-c;

    &.required:before {
      position: absolute;
      bottom: -23px;
      left: 6px;
      z-index: 1;
      content: '*';
      font-size: 18px;
      color: $error;
    }

    &:not(:empty):after {
      content: ": ";
    }
  }

  #{$inputs} {
    width: calc(100% - 30px);
    padding: 10px 15px 8px;

    font-size: 14px;
    line-height: 22px;

    background-color: $white;
    border-radius: $border-radius-small;
    border: none;
    outline: none;

    color: $grey-b;

    ::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder {
      color: $grey-c;
      opacity: 1;
    }
  }

  .input {
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      border-radius: $border-radius-small 0 0 $border-radius-small;
    }
  }

  .description-message {
    display: block;
    color: $grey-c;
  }

  .success-message {
    display: none;
    color: $tertiary;
  }

  .error-message {
    display: none;
    color: $error;
  }

  &.success, &.error {
    & .description-message {
      display: none;
    }
  }

  &.disabled {
    & label, & .description-message, & input:disabled {
      color: $grey-b;
    }

    & input:disabled {
      border: 1px solid $grey-b;
      background-color: transparent;
    }
  }

  &.success {
    & .success-message {
      display: block;
    }

    & #{$inputs} {
      color: $tertiary;
    }

    & .input:after {
      content: ' ';
      background-color: $tertiary;
    }
  }

  &.error {
    & .error-message {
      display: block;
    }

    & #{$inputs} {
      color: $error;
    }

    & .input:after {
      content: ' ';
      background-color: $error;
    }
  }
}

